apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: 
            - 'localhost:9090'
      - job_name: 'node-exporter'
        static_configs:
          - targets:
            - '172.31.78.212:9100'
      - job_name: 'tomcat-jolokia'
        static_configs:
          - targets:
            - tomcat-jolokia-exporter:9422
